
<div style="margin: 28px 0px 0px 23px">

<!--  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--    Thêm thành viên-->
<!--  </button>-->


<!--  <div *ngIf="project.boards.length == 0">-->
<!--    <h3 class="card-title">-->
<!--      Hiện tại dự án chưa có bảng nào-->
<!--    </h3>-->
<!--  </div>-->

<!--  <div>-->
<!--    <div *ngFor="let b of project.boards">-->
<!--      <p><a routerLink="/tasks/list"></a>{{b.title}}</p>-->
<!--    </div>-->
<!--  </div>-->

<div class="dropdown show">
  <div>
    <label style="color: #f5f1f1;font-size: 35px;margin-right: 15px">{{project?.title}}</label>
<!--    <strong>Thông tin dự án : {{project?.title}} </strong>-->
    <a class=" ti-menu dropdown-toggle" style="text-decoration: none; color: white;font-size: 28px"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="border-radius: 13px;background-color: rgba(234,233,233,0.96);border: #e0dfdf;padding: 20px 0px 20px 0px">
      <a class="dropdown-item" style="cursor: pointer;border-radius: 4px;margin-bottom: 8px;font-weight: bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Thêm người vào dự án</a>
      <a class="dropdown-item" style="cursor: pointer;border-radius: 4px;margin-bottom: 8px;font-weight: bold"  data-bs-toggle="modal" data-bs-target="#staticDelete">Xóa dự án</a>
      <a class="dropdown-item" style="cursor: pointer;border-radius: 4px;margin-bottom: 8px;font-weight: bold"  data-bs-toggle="modal" data-bs-target="#staticEdit">Sửa dự án</a>
      <a class="dropdown-item" style="cursor: pointer;border-radius: 4px;font-weight: bold"  data-bs-toggle="modal" data-bs-target="#addNewBoard">Thêm bảng</a>

    </div>
<!--    <button type="button" class="btn btn-success" data-bs-toggle="modal"-->
<!--            style="margin: 8px"-->
<!--            data-bs-target="#addNewBoard">-->
<!--      Thêm bảng-->
<!--    </button>-->
  </div>

</div>


  <div *ngIf="project.boards?.length == 0">
    <h3 class="card-title">
      Hiện tại dự án chưa có bảng nào
    </h3>
  </div>
  <div class="row" *ngIf="project.boards?.length > 0">
    <div class="text-center "
         *ngFor="let b of project.boards"
         style="margin: 35px 0px 0px 40px; width: 200px; height:100px; background-color: rgb(238,238,238);padding: 30px 0px 0px 0px;
border-radius: 10px"
    >
      <a routerLink="/tasks/list/{{b.id}}" style="text-decoration: none;color: #232323; font-size: 20px;margin-right: 10%">{{b.title}}
      </a>
      <a class="ti-pencil" data-bs-toggle="modal"
         data-bs-target="#editBoard" (click)="showBoardDetail(b.id)"></a>
    </div>
  </div>



  <!-- Modal add member to project -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-weight: bold" id="staticBackdropLabel">Thêm người vào dự án</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #formAddUser='ngForm' (ngSubmit)="addUser(formAddUser)">
          <div class="modal-body">
            <div >
              <label>Nhập email thành viên</label>

              <div style="width: 100%"><input style="margin-bottom: 15px;width: 100%; border: 1px solid rgba(70,69,69,0.66);background-color: #FAFBFC;color: black!important;"
                          id="email" class="form-control"
                          placeholder="Nhập email thành viên" autocomplete="off" type="text" [(ngModel)]="email"
                          name="email" (input)="searchEmail()">

                <div *ngIf="isInputEmail">
                  <div>Email</div>
                  <div style="max-height: 200px;overflow-y: auto">
                    <div *ngFor="let e of emails | convertFilter:email">
                      <ng-container>
                        <div style="cursor: pointer;">
                          <button type="button" style="border: none; background-color: #FFFFFF;" [disabled]="checkEmail(e)" (click)="inputEmail(e)" >{{e}}</button>
                          <sup style="color: red" *ngIf="checkEmail(e)"> Đã trong dự án</sup>
                        </div>
                      </ng-container>

                    </div>
                  </div>
                </div>

              </div>
              <hr>
            </div>
            <div style="margin-top: 20px">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Thêm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--  modal delete project-->
<div class="modal fade" id="staticDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 10px;margin-top: 40px">
      <div class="modal-header">
        <h5 class="modal-title" id="staticDeleteLabel">Xóa dự án</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          Bạn chắc chắn muốn xóa dự án chứ?
          Nếu xóa dự án này, toàn bộ các bảng và các task trong dự án sẽ bị xóa.

          <div class="modal-footer" style="margin-top: 15px">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="button" (click)="deleteProject()" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
          </div>
        </div>
    </div>
  </div>
</div>

<!--  modal edit project-->
<div class="modal fade" id="staticEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticEditLabel" aria-hidden="true" >
  <div class="modal-dialog" >
    <div class="modal-content" style="border-radius: 10px;margin-top: 50px">
      <div class="modal-header">
        <h5 class="modal-title" id="staticEditLabel">Sửa dự án</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form #formEdit='ngForm' (ngSubmit)="editProject(formEdit)">
            <div class="form-group">
              <label for="title">Tên dự án</label>
              <input style="background-color:  #FAFBFC;height: 42px;border: 2px solid #DFE1E6;color: black !important;"[value]="project.title" type="text" class="form-control" ngModel name="title" id="title" placeholder="Tên dự án">
            </div>
            <div>
              <label for="type">Loại dự án</label>
              <select style="background-color:  #FAFBFC;height: 42px;border: 2px solid #DFE1E6;color: black !important;" class="form-control" id="type" name="type">
                <option style="background-color: rgba(9,8,17,0.4)" class="form-control" value="1" [selected]="true">Dự án cá nhân</option>
                <option style="background-color: rgba(9,8,17,0.4)" class="form-control" value="2">Dự án nhóm</option>
              </select>
            </div>
            <div style="margin-top: 4%">
              <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-success"  data-bs-dismiss="modal">Sửa</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>



<!-- Modal Add New Board -->
<div class="modal fade" id="addNewBoard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm bảng mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div>
      <form [formGroup]="newBoard" (ngSubmit)="saveBoard()">
        <div class="modal-body">
          <table style="width: 100%">
            <tr>
              <label style="font-size: 20px">Tên Bảng </label>
            </tr>
            <input class="form-control" style="width: 100%;color: black !important;" type="text" formControlName="title">
          </table>
        </div>
        <div style="margin: 5px 0px 35px 15px;padding-bottom: 20px">
          <button type="button" style="float: left" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" style="float: left" class="btn btn-success" data-bs-dismiss="modal">Save</button>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>


<!--  modal edit board-->
  <div class="modal fade" id="editBoard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-weight: bold" id="">Chỉnh sửa bảng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="newBoard" (ngSubmit)="saveBoard()">
          <div class="modal-body">
            <label >Tên bảng</label>
            <input type="text" class="form-control" style="border: 1px solid #1f1f1f;color: black !important;" formControlName="title">
          </div>
          <hr>
          <div style="margin: 10px 0px 20px 15px">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteBoard()">Xóa bảng</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Sửa bảng</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
