<h1>Thông tin dự án : {{project?.title}}</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Thêm người vào dự án
</button>
<div *ngIf="project.boards.length == 0">
  <h3 class="card-title">
    Hiện tại dự án chưa có bảng nào
  </h3>
</div>
<div class="row" *ngIf="project.boards.length > 0">
  <div class="text-center"
       *ngFor="let b of project.boards"
       style="margin: 50px; width: 200px; height: 70px; background-color: rgba(227,122,184,0.39)"
      >
    <a style="text-decoration: none;position: absolute; padding-top: 18px" routerLink="/tasks/list/{{b.id}}">{{b.title}}
    </a>
   <button style="position: absolute; margin-top: 70px" data-bs-toggle="modal" data-bs-target="#editBoard" (click)="showBoardDetail(b.id)">Edit</button>
  </div>
  <div class="text-center"
       style="margin: 50px;width: 200px; height: 70px; background-color: rgba(132,154,179,0.39)"
       data-bs-toggle="modal" data-bs-target="#addNewBoard">
    Add new board
  </div>
  <div></div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thêm người vào dự án</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #formAddUser='ngForm' (ngSubmit)="addUser(formAddUser)">
        <div class="modal-body">

          <div>
            <label for="username">Nhập tên thành viên</label>
            <input type="text" id="username" placeholder="Nhập tên thành viên" ngModel name="username">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Thêm vào</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal Add New Board -->
<div class="modal fade" id="addNewBoard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="newBoard" (ngSubmit)="saveBoard()">
        <div class="modal-body">
          <table>
            <tr>
              <td>Title: </td>
              <td><input type="text" formControlName="title"></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Edit & Delete Board-->
<div class="modal fade" id="editBoard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Edit Board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="newBoard" (ngSubmit)="saveBoard()">
      <div class="modal-body">
        <input type="text" formControlName="title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteBoard()">Delete</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Change</button>
      </div>
      </form>
    </div>
  </div>
</div>
