
<div class="container" style="height: 100%; width: 100%;margin: 20px 0px 0px 20px" >
  <div class="row justify-content-center">
  <div class="form-group col-md-6" style="border-radius: 10px;padding: 25px 0px 30px 0px;margin: 30px 0px 0px 0px;background-color: rgba(245,241,241,0.85)">
    <div >
      <h2 style="color: #424b5d;text-align: center;font-weight: bold">Đổi mật khẩu</h2>
    </div>

    <div class="row justify-content-center" style="margin-top: 25px">
      <div class="col-md-8">
        <div class="login-wrap p-0">
          <form class="signin-form" #formChangePass='ngForm' (ngSubmit)="changePass(formChangePass)">
            <div>
              <label style="color: #151515">Mật khẩu cũ <span style="color: red">*</span> </label>
              <input type="password"
                     name="oldPassword"
                     required
                     minlength="6"
                     maxlength="20"
                     ngModel
                     class="form-control"
                     style="background-color:  #FAFBFC;height: 42px;border: 2px solid #DFE1E6;color: #151515 !important;"
              >
            </div>
            <div style="margin-top: 13px">
              <label style="color: #151515">Mật khẩu mới <span style="color: red">*</span> </label>
              <input type="password"
                     name="newPassword"
                     id="newPassword"
                     required
                     minlength="6"
                     maxlength="20"
                     ngModel
                     (input)="checkRePassword()"
                     class="form-control"
                     style="background-color:  #FAFBFC;height: 42px;border: 2px solid #DFE1E6;color: #151515 !important;"
              >
            </div>
            <div style="margin-top: 13px">
              <label style="color: #151515">Xác nhận mật khẩu <span style="color: red">*</span> </label>
              <input type="password"
                     name="confirmPassword"
                     id="confirmPassword"
                     required
                     minlength="6"
                     maxlength="20"
                     ngModel
                     (input)="checkConfirmPassWord()"
                     class="form-control"
                     style="background-color:  #FAFBFC;height: 42px;border: 2px solid #DFE1E6;color: #151515 !important;"
              >
              <p id="confirm-password-error" style="color: red"></p>
            </div>
            <div style="margin-top: 25px">
              <button type="button" class="btn btn-secondary" routerLink="/home">Về trang chủ</button>
              <button class="btn btn-success">Đổi mật khẩu</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>
</div>


