<div class="img js-fullheight" style="background-image: url(assets/logindai.png); height: 100%">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6" style="border-radius: 10px;padding: 30px 0px 30px 0px;margin: 90px 20px 0px 0px;background-color: rgba(245,241,241,0.85)">
          <div class="row justify-content-center" style="margin-bottom: 20px">
            <div class="col-md-6 text-center">
              <h2  style="color: #5E6C84;font-size: 20px;font-weight: bold"><strong>Đăng nhập vào DIOSA</strong></h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-7">
              <div class="login-wrap p-0">
                <form class="signin-form" #formLogin='ngForm' (ngSubmit)="formLogin.valid && login(formLogin)">
                  <div class="form-group" style="color: black">
                    <label style="color: black;font-size: 15px" for="username"> Tên đăng nhập <span class="text-danger">*</span> </label>
                    <input type="text" id="username"
                           style="background-color:  #FAFBFC;height: 42px;border: 2px solid #DFE1E6;color: black !important;" name="username" class="form-control"
                           ngModel #username="ngModel" required minlength="6" maxlength="18"
                           [ngClass]="[(username.valid && (username.touched || username.dirty)) ? 'form-control is-valid' :((username.dirty || username.touched || formLogin.submitted)? 'form-control is-invalid':'form-control')]"
                           pattern="^[a-zA-Z0-9_]*$">
                    <ng-container *ngIf="(username.dirty || username.touched)  || formLogin.submitted">
                      <div class="tooltip" *ngIf="username.errors?.required">
                        Tên đăng nhập không được để trống</div>
                      <div class="invalid-tooltip" *ngIf="username.errors?.minlength">Tên đăng nhập không
                        được dưới 6 ký tự</div>
                      <div class="invalid-tooltip" *ngIf="username.errors?.maxlength">Tên đăng nhập không
                        được trên 18 ký tự</div>
                      <div class="invalid-tooltip" *ngIf="username.errors?.pattern">Tên đăng nhập không
                        được chứa ký tự đặc biệt</div>
                    </ng-container>
                  </div>
                  <div class="form-group" style="margin: 20px 0px 20px 0px">
                    <label style="color: black;font-size: 15px" for="password-field"> Mật khẩu <span class="text-danger">*</span> </label>
                    <input id="password-field" style="background-color:  #FAFBFC;height: 42px;color: #0e0d0d !important;border: 2px solid #DFE1E6"
                           #password="ngModel"
                           [ngClass]="[(password.valid && (password.touched || password.dirty)) ? 'form-control is-valid' : ((password.dirty || password.touched || formLogin.submitted)? 'form-control is-invalid':'form-control')]"
                           [type]="isShowPassword? 'text' : 'password'" name="password" ngModel
                            required>

                    <input type="checkbox" id="show-pass" (click)="changeShowPass()" style="margin: 5px 5px 0px 3px;color: black">
<!--                    <ng-container *ngIf="(password.dirty || password.touched) && password.invalid" style="position: relative;top: -30px">-->
<!--                      <p class="invalid-tooltip" *ngIf="password.errors?.required" >Mật khẩu không được-->
<!--                        bỏ trống</p>-->
<!--                    </ng-container>-->
                    <label style="color: black" for="show-pass">{{!isShowPassword? ' Hiện mật khẩu' : ' Ẩn mật khẩu'}}</label>

                  </div>
                  <div class="form-group" style="margin-bottom: 15px">
                    <button style="height: 40px" type="submit" style="background-color: #61BD4F" class="form-control btn  submit px-3">Đăng nhập</button>
                  </div>
                </form>
                <p class="w-100 text-center" style="color: rgba(21,20,20,0.58)">&mdash;Bạn chưa có tài khoản?
                  <a routerLink="/register" style="color: rgba(21,20,20,0.58)"><strong>Đăng ký</strong></a> &mdash;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
