<div class="img js-fullheight" style="background-image: url(assets/static/login/images/bg.jpg); height: 100%">
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section" style="color: rgb(187,37,194)">Đăng nhập</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <form class="signin-form" #formLogin='ngForm' (ngSubmit)="login(formLogin)">
            <div class="form-group">
              <input type="text" class="form-control" style="background-color: rgba(91,43,162,0.4)" name="username" ngModel placeholder="Tên đăng nhập" required>
            </div>
            <div class="form-group">
              <input id="password-field" style="background-color: rgba(91,43,162,0.4)" [type]="isShowPassword? 'text' : 'password'" name="password" ngModel class="form-control" placeholder="Mật khẩu" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" [title]="!isShowPassword? 'Xem mật khẩu' : 'Ẩn mật khẩu'" (click)="changeShowPass()"></span>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Đăng nhập</button>
            </div>
          </form>
          <p class="w-100 text-center">&mdash;Bạn chưa có tài khoản?
            <a routerLink="/register"><strong>Đăng ký</strong></a> &mdash;</p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
