
<div style="width: 500px; height: 500px">
  <form  #formChangePass='ngForm' (ngSubmit)="changePass(formChangePass)">
    <div>
      <label>Mật khẩu cũ : </label>
      <input type="password"
             name="oldPassword"
             placeholder="Nhập mật khẩu cũ"
             required
             minlength="6"
             maxlength="20"
             ngModel
             >
    </div>
    <div>
      <label>Mật khẩu mới : </label>
      <input type="password"
             name="newPassword"
             id="newPassword"
             placeholder="Nhập mật khẩu mới"
             required
             minlength="6"
             maxlength="20"
             ngModel
             (input)="checkRePassword()"
            >
    </div>
    <div>
      <label>Xác nhận mật khẩu : </label>
      <input type="password"
             name="confirmPassword"
             id="confirmPassword"
             placeholder="Nhập lại mật khẩu mới"
             required
             minlength="6"
             maxlength="20"
             ngModel
             (input)="checkConfirmPassWord()" t
             >
    </div>
    <button>Đổi mật khẩu</button>
  </form>
</div>

<h1>Day la info</h1>
<!--<div class="rounded-circle" style="width: 100px; height: auto">-->
<!--  <img [src]="user?.avatar" alt="Day la anh dai dien">-->
<!--</div>-->
<!--<button class="btn btn-primary">-->
<!--  <label for="file">avatar</label>-->
<!--</button>-->
<!--<input type="file"-->
<!--       id="file"-->
<!--       #userPhoto-->
<!--       (change)="onFileSelected($event)"-->
<!--       name="image"-->
<!--       autocomplete="off"-->
<!--       hidden-->
<!--/>-->
