<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="account">
      <i class="ti-user menu-icon"></i>
      <span class="menu-title">Tài khoản</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="account">
      <ul class="nav flex-column sub-menu">
        <li> <a class="nav-link" routerLink="/user/change-password">
          <i class="ti-pencil text-primary"></i>
          Đổi mật khẩu
        </a></li>
        <li> <a class="nav-link" routerLink="/user/information">
          <i class="ti-settings text-primary"></i>
          Thông tin cá nhân
        </a></li>

      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#project" aria-expanded="false" aria-controls="project">
      <i class="ti-book menu-icon"></i>
      <span class="menu-title">Dự án</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="project">
      <ul class="nav flex-column sub-menu">
        <ng-container *ngFor="let project of projects">
          <li class="nav-item"> <a class="nav-link" routerLink="/projects/{{project.id}}"> {{project.title}} </a></li>
        </ng-container>
        <li class="nav-item"> <a class="nav-link" routerLink="/projects/create"> Thêm dự án </a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#project-of-me" aria-expanded="false" aria-controls="project-of-me">
      <i class="ti-book menu-icon"></i>
      <span class="menu-title">Dự án của tôi</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="project-of-me">
      <ul class="nav flex-column sub-menu">
        <ng-container *ngFor="let p of myProjects">
          <li class="nav-item"> <a class="nav-link" routerLink="/projects/{{p.id}}"> {{p.title}}</a></li>
        </ng-container>
        <li class="nav-item"> <a class="nav-link" routerLink="/projects/create"> Thêm dự án </a></li>
      </ul>
    </div>
  </li>
</ul>

