<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/tasks/list">
      <i class="ti-shield menu-icon"></i>
      <span class="menu-title" style="font-size: 17px">Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/tasks/list">
      <i class="ti-layout-list-post menu-icon"></i>
      <span class="menu-title" style="font-size: 17px">Task</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
      <i class="ti-user menu-icon"></i>
      <span class="menu-title" style="font-size: 17px">User Pages</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="auth">
      <ul class="nav flex-column sub-menu" style="border-radius: 0px 0px 10px 10px">
        <li class="nav-item"> <a class="nav-link" href="/tasks/list"> Login </a></li>
        <li class="nav-item"> <a class="nav-link" href="/tasks/list"> Login 2 </a></li>
        <li class="nav-item"> <a class="nav-link" href="/tasks/list"> Register </a></li>
        <li class="nav-item"> <a class="nav-link" href="/tasks/list"> Register 2 </a></li>
        <li class="nav-item"> <a class="nav-link" href="/tasks/list"> Lockscreen </a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="documentation/documentation.html">
      <i class="ti-write menu-icon"></i>
      <span class="menu-title" style="font-size: 17px">Documentation</span>
    </a>
  </li>
</ul>

