<div class="row" style="margin: 35px 0px 0px 20px">
  <div>
  <h2 style="color: #fdfdfd">Dự án</h2>
  <div>
    <br>
  <ng-container >
    <div class="row" style="max-width: 93%;word-wrap: break-word">
      <div *ngFor="let p of projects" class="example-list" style="background-color: rgba(218,217,217,0.85);
      width: 160px;height: 90px;border-radius: 10px;padding: 3px 0px 0px 5px;
      padding-left: 5px;font-size: 23px;margin-top: 10px;margin-left: 20px;overflow: hidden">
        <a style="text-decoration: none; color: #1e1e1e"
           routerLink="/projects/{{p.id}}">{{p.title}}</a>
      </div>
  </div>
  </ng-container>
  </div>
  </div>
<div style="margin-top: 40px">
    <h2 style="color: #fdfdfd">Dự án của tôi &nbsp;  <button class="btn btn-success"><a style="text-decoration: none;color: white" routerLink="/projects/create">Thêm dự án</a></button>
    </h2>
  <br>
  <ng-container >
    <div class="row" style="max-width: 90%; word-wrap: break-word">
      <div *ngFor="let p of myProjects"  style="background-color: rgba(218,217,217,0.85);
    width: 160px;height: 90px;border-radius: 10px;padding: 3px 0px 0px 5px;
    padding-left: 5px;font-size: 23px;margin-top: 10px;margin-left: 20px;overflow: hidden" >
        <a style="text-decoration: none; color: #1e1e1e" routerLink="/projects/{{p.id}}">{{p.title}}</a>
      </div>
    </div>
  </ng-container>
</div>
</div>
