


<div class="container-scroller" style="background-image: url('assets/backGround.png'); max-height: 100%">
  <!--  navbar-->
  <ng-container *ngIf="currentUser!= null" style="background:none">

      <app-navbar></app-navbar>


  </ng-container>


  <div class="container-fluid page-body-wrapper" >
    <!--  sidebar-->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: rgba(196,189,189,0.26);
     border: 1px solid rgba(227,223,223,0.4)" >
      <div >
        <app-sidebar></app-sidebar>
      </div>

    </nav>



    <div class="main-panel" style="width: 100%; background: none" >
<!--    <div class="content-wrapper" style="background: none;width: 92%; max-height: 95%">-->
    <router-outlet></router-outlet>
<!--    </div>-->
    <!--footer-->
  </div>
  </div>
</div>
