<!--<div class="container" *ngFor="let stt of status" >-->
<!--  <div>-->
<!--    <p style="float: left; margin-left: 10px">{{stt.title}}</p>-->
<!--    <button style="float: right; margin-top: 14px" ><a style="text-decoration: none; color: black" routerLink="/status/edit/{{stt.id}}">edit</a></button>-->
<!--  </div>-->
<!--</div>-->
<!--<div>-->


<!--<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">-->
<!--  <div class="example-box" *ngFor="let stt of status" cdkDrag>-->
<!--    <div>{{stt.title}}</div>-->
<!--    <div>  <button style="float: right; margin-top: 14px" ><a style="text-decoration: none; color: black" routerLink="/status/edit/{{stt.id}}">edit</a></button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--  <div>-->
<!--    <button><a style="text-decoration: none" routerLink="/status/create">Create</a></button>-->
<!--  </div>-->
<!--</div>-->

