<div class="img js-fullheight" style="background-image: url(assets/register.png);min-height: 120%">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6" style="background-color: rgb(255,255,255);border-radius: 10px;margin: 100px 55px 20px 0px;padding: 25px 0px 25px 20px">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center">
              <h2 class="heading-section" style="color: #5E6C84;">Đăng ký tài khoản</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="login-wrap p-0">
                <form class="signin-form" #formRegister="ngForm"
                      (ngSubmit)="formRegister.valid && register(formRegister)">
                  <div class="form-group">
                    <label style="color: black;font-size: 17px" for="username-field"> Tên đăng nhập <span class="text-danger">*</span> </label>
                    <input type="text" id="username-field"
                           style="background-color:  #FAFBFC;height: 42px;border: 2px solid #DFE1E6;color: black !important;"
                           #username="ngModel"
                           [ngClass]="[((username.valid && isUsernameUnique) && (username.touched || username.dirty)) ? 'form-control is-valid' :((username.dirty || username.touched || formRegister.submitted)? 'form-control is-invalid':'form-control')]"
                           name="username" ngModel (input)="checkUsernameUnique()"  required
                           minlength="6" maxlength="18"
                           pattern="^[a-zA-Z0-9_]*$">
                    <ng-container
                      *ngIf="(username.dirty || username.touched) || isUsernameUnique  || formRegister.submitted">
                      <div class="invalid-tooltip" *ngIf="username.errors?.minlength">Tên đăng nhập không được dưới 6 ký
                        tự
                      </div>
                      <div class="invalid-tooltip" *ngIf="!isUsernameUnique">Tên đăng nhập đã tồn tại</div>

                      <div class="invalid-tooltip" *ngIf="username.errors?.maxlength">Tên đăng nhập không được trên 18
                        ký tự
                      </div>
                      <div class="invalid-tooltip" *ngIf="username.errors?.pattern">Tên đăng nhập không được chứa ký tự
                        đặc biệt
                      </div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <label style="color: black;font-size: 17px" for="password-field"> Mật khẩu <span class="text-danger">*</span> </label>
                    <input id="password-field" style="background-color:  #FAFBFC;height: 42px;color: #0e0d0d !important;border: 2px solid #DFE1E6"
                           [type]="isShowPassword? 'text' : 'password'"
                           #password="ngModel"
                           [ngClass]="[((password.valid) && (password.touched || password.dirty)) ? 'form-control is-valid' :((password.dirty || password.touched || formRegister.submitted)? 'form-control is-invalid':'form-control')]"
                           (input)="!checkRePassword()? checkConfirmPassWord() : undefined" name="password" ngModel
                            required
                           minlength="6" maxlength="18">
                    <input type="checkbox" style="margin: 5px 5px 0px 0px" id="show-pass" (click)="showPassword()">
                    <label style="color: black" for="show-pass">{{!isShowPassword? 'Xem mật khẩu' : 'Ẩn mật khẩu'}}</label>
                    <ng-container *ngIf="(password.dirty || password.touched)  || formRegister.submitted">
                      <div class="invalid-tooltip" *ngIf="password.errors?.minlength">Mật khẩu không được dưới 6 ký tự
                      </div>
                      <div class="invalid-tooltip" *ngIf="password.errors?.maxlength">Mật khẩu không được trên 18 ký
                        tự
                      </div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <label style="color: black;font-size: 17px" for="re-password-field"> Nhập lại mật khẩu <span class="text-danger">*</span> </label>
                    <input id="re-password-field" style="background-color:  #FAFBFC;height: 42px;color: #0e0d0d !important;border: 2px solid #DFE1E6"
                           class="form-control"
                           [ngClass]="isConfirmPassword ? 'form-control is-valid' : 'form-control is-invalid'"
                           (input)="checkConfirmPassWord()" [type]="isShowConfirmPassword? 'text' : 'password'"
                           name="re-password"  required>
                    <input type="checkbox" style="margin: 5px 5px 0px 0px" id="show-re-pass" (click)="showConfirmPassword()">
                    <label style="color: black" for="show-re-pass">{{!isShowConfirmPassword? 'Xem mật khẩu' : 'Ẩn mật khẩu'}}</label>
                    <ng-container>
                      <div class="invalid-tooltip" *ngIf="!isConfirmPassword">Mật khẩu không khớp</div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <label style="color: black;font-size: 17px" for="email"> Email <span class="text-danger">*</span> </label>
                    <input type="email" id="email" style="background-color:  #FAFBFC;height: 42px;color: #0e0d0d !important;border: 2px solid #DFE1E6"
                           name="email"
                           #email="ngModel"
                           [ngClass]="[((email.valid && isEmailUnique) && (email.touched || email.dirty)) ? 'form-control is-valid' :((email.dirty || email.touched || formRegister.submitted)? 'form-control is-invalid':'form-control')]"
                           ngModel  (input)="checkEmailUnique()" required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="32" minlength="8">
                    <ng-container *ngIf="(email.dirty || email.touched)  || formRegister.submitted">
<!--                      <div class="invalid-tooltip" *ngIf="email.errors?.minlength">Email không được dưới 8 ký tự</div>-->
<!--                      <div class="invalid-tooltip" *ngIf="email.errors?.maxlength">Email không được trên 32 ký tự</div>-->
                      <div class="invalid-tooltip" *ngIf="email.errors?.pattern">Email không đúng định dạng</div>
                      <div class="invalid-tooltip" *ngIf="!isEmailUnique">Email đã tồn tại</div>
                    </ng-container>
                  </div>
                  <div class="form-group" style="margin: 40px 0px 20px 0px">
                    <button type="submit" style="background-color: #61BD4F"  class="form-control  submit px-3">Đăng ký</button>
                  </div>
                </form>
                <p class="w-100 text-center" style="color: rgba(21,20,20,0.58)">&mdash;Bạn đã có tài khoản?
                  <a routerLink="/login" style="color: rgba(21,20,20,0.58)"><strong>Đăng nhập</strong></a> &mdash;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
