<div class="img js-fullheight" style="background-image: url(assets/static/login/images/bg.jpg);">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6" style="background-color: rgba(138,121,138,0.51)">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center">
              <h2 class="heading-section" style="color: rgb(236,238,241)">Đăng ký tài khoản</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="login-wrap p-0">
                <form class="signin-form" #formRegister="ngForm" (ngSubmit)="formRegister.valid && register(formRegister)">
                  <div class="form-group">
                    <label for="username-field"> Tên đăng nhập <span class="text-danger">*</span> </label>

                    <input type="text" id="username-field" class="form-control" style="background-color: rgba(91,43,162,0.4)"
                           name="username" ngModel placeholder="Tên đăng nhập" required minlength="6" maxlength="18"
                           pattern="^[a-zA-Z0-9_]*$">
                    <div>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.username.errors?.minlength">Tên đăng nhập không
                        được dưới 6 ký tự</p>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.username.errors?.maxlength">Tên đăng nhập không
                        được trên 18 ký tự</p>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.username.errors?.pattern">Tên đăng nhập không
                        được chứa ký tự đặc biệt</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password-field"> Mật khẩu <span class="text-danger">*</span> </label>
                    <input id="password-field" style="background-color: rgba(91,43,162,0.4)"
                           [type]="isShowPassword? 'text' : 'password'"
                           (input)="!checkRePassword()? checkConfirmPassWord() : undefined" name="password" ngModel
                           class="form-control" placeholder="Mật khẩu" required>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"
                          [title]="!isShowPassword? 'Xem mật khẩu' : 'Ẩn mật khẩu'" (click)="showPassword()"></span>
                    <div>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.password.errors?.minlength">Mật khẩu không được
                        dưới 6 ký tự</p>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.password.errors?.maxlength">Mật khẩu không được
                        trên 18 ký tự</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="re-password-field"> Nhập lại mật khẩu <span class="text-danger">*</span> </label>
                    <input id="re-password-field" style="background-color: rgba(91,43,162,0.4)"
                           (input)="checkConfirmPassWord()" [type]="isShowConfirmPassword? 'text' : 'password'"
                           name="re-password" class="form-control" placeholder="Nhập lại mật khẩu" required>
                    <span toggle="#re-password-field" class="fa fa-fw fa-eye field-icon toggle-password"
                          [title]="!isShowConfirmPassword? 'Xem mật khẩu' : 'Ẩn mật khẩu'"
                          (click)="showConfirmPassword()"></span>
                    <div>
                      <p class="text-danger" id="confirm-password-error"></p>
                    </div>

                  </div>
                  <div class="form-group">
                    <label for="email"> Email <span class="text-danger">*</span> </label>
                    <input type="email" id="email" class="form-control" style="background-color: rgba(91,43,162,0.4)" name="email"
                           ngModel placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="32" minlength="8">
                    <div>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.email.errors?.minlength">Email không được
                        dưới 8 ký tự</p>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.email.errors?.maxlength">Email không được
                        trên 32 ký tự</p>
                      <p class="invalid-tooltip" *ngIf="formRegister.controls.email.errors?.pattern">Email không đúng định dạng </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Đăng ký</button>
                  </div>
                </form>
                <p class="w-100 text-center">&mdash;Bạn đã có tài khoản?
                  <a routerLink="/login" style="color: #FFFFFF"><strong>Đăng nhập</strong></a> &mdash;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
