<div class="img js-fullheight" style="background-image: url(assets/static/login/images/bglglo.jpg);">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6" style="background-color: rgba(138,121,138,0.51)">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center">
              <h2 class="heading-section" style="color: rgb(236,238,241);">Đăng ký tài khoản</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="login-wrap p-0">
                <form class="signin-form" #formRegister="ngForm"
                      (ngSubmit)="formRegister.valid && register(formRegister)">
                  <div class="form-group">
                    <label for="username-field"> Tên đăng nhập <span class="text-danger">*</span> </label>
                    <input type="text" id="username-field"
                           style="background-color: rgba(91,43,162,0.4)"
                           #username="ngModel"
                           [ngClass]="[((username.valid && isUsernameUnique) && (username.touched || username.dirty)) ? 'form-control is-valid' :((username.dirty || username.touched || formRegister.submitted)? 'form-control is-invalid':'form-control')]"
                           name="username" ngModel (input)="checkUsernameUnique()" placeholder="Tên đăng nhập" required
                           minlength="6" maxlength="18"
                           pattern="^[a-zA-Z0-9_]*$">
                    <ng-container
                      *ngIf="(username.dirty || username.touched) || isUsernameUnique  || formRegister.submitted">
                      <div class="invalid-tooltip" *ngIf="username.errors?.minlength">Tên đăng nhập không được dưới 6 ký
                        tự
                      </div>
                      <div class="invalid-tooltip" *ngIf="!isUsernameUnique">Tên đăng nhập đã tồn tại</div>

                      <div class="invalid-tooltip" *ngIf="username.errors?.maxlength">Tên đăng nhập không được trên 18
                        ký tự
                      </div>
                      <div class="invalid-tooltip" *ngIf="username.errors?.pattern">Tên đăng nhập không được chứa ký tự
                        đặc biệt
                      </div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <label for="password-field"> Mật khẩu <span class="text-danger">*</span> </label>
                    <input id="password-field" style="background-color: rgba(91,43,162,0.4)"
                           [type]="isShowPassword? 'text' : 'password'"
                           #password="ngModel"
                           [ngClass]="[((password.valid) && (password.touched || password.dirty)) ? 'form-control is-valid' :((password.dirty || password.touched || formRegister.submitted)? 'form-control is-invalid':'form-control')]"
                           (input)="!checkRePassword()? checkConfirmPassWord() : undefined" name="password" ngModel
                           placeholder="Mật khẩu" required
                           minlength="6" maxlength="18">
                    <input type="checkbox" id="show-pass" (click)="showPassword()">
                    <label for="show-pass">{{!isShowPassword? 'Xem mật khẩu' : 'Ẩn mật khẩu'}}</label>
                    <ng-container *ngIf="(password.dirty || password.touched)  || formRegister.submitted">
                      <div class="invalid-tooltip" *ngIf="password.errors?.minlength">Mật khẩu không được dưới 6 ký tự
                      </div>
                      <div class="invalid-tooltip" *ngIf="password.errors?.maxlength">Mật khẩu không được trên 18 ký
                        tự
                      </div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <label for="re-password-field"> Nhập lại mật khẩu <span class="text-danger">*</span> </label>
                    <input id="re-password-field" style="background-color: rgba(91,43,162,0.4)"
                           class="form-control"
                           [ngClass]="isConfirmPassword ? 'form-control is-valid' : 'form-control is-invalid'"
                           (input)="checkConfirmPassWord()" [type]="isShowConfirmPassword? 'text' : 'password'"
                           name="re-password" placeholder="Nhập lại mật khẩu" required>
                    <input type="checkbox" id="show-re-pass" (click)="showConfirmPassword()">
                    <label for="show-re-pass">{{!isShowConfirmPassword? 'Xem mật khẩu' : 'Ẩn mật khẩu'}}</label>
                    <ng-container>
                      <div class="invalid-tooltip" *ngIf="!isConfirmPassword">Mật khẩu không khớp</div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <label for="email"> Email <span class="text-danger">*</span> </label>
                    <input type="email" id="email" style="background-color: rgba(91,43,162,0.4)"
                           name="email"
                           #email="ngModel"
                           [ngClass]="[((email.valid && isEmailUnique) && (email.touched || email.dirty)) ? 'form-control is-valid' :((email.dirty || email.touched || formRegister.submitted)? 'form-control is-invalid':'form-control')]"
                           ngModel placeholder="Email" (input)="checkEmailUnique()" required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="32" minlength="8">
                    <ng-container *ngIf="(email.dirty || email.touched)  || formRegister.submitted">
                      <div class="invalid-tooltip" *ngIf="email.errors?.minlength">Email không được dưới 8 ký tự</div>
                      <div class="invalid-tooltip" *ngIf="email.errors?.maxlength">Email không được trên 32 ký tự</div>
                      <div class="invalid-tooltip" *ngIf="email.errors?.pattern">Email không đúng định dạng</div>
                      <div class="invalid-tooltip" *ngIf="!isEmailUnique">Email đã tồn tại</div>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Đăng ký</button>
                  </div>
                </form>
                <p class="w-100 text-center">&mdash;Bạn đã có tài khoản?
                  <a routerLink="/login" style="color: #FFFFFF"><strong>Đăng nhập</strong></a> &mdash;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
